lukoil/protected/xslt/TypesData.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation> омплексные типы данных</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="“ипЌомер орректировки">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ипЌомер¬ѕачке">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="201"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="“ип‘»ќ">
		<xs:annotation>
			<xs:documentation>“ип данных: ‘»ќ физического лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="‘амили€" type="“ип—трока40Ќ" minOccurs="0"/>
			<xs:element name="»м€" type="“ип—трока40Ќ" minOccurs="0"/>
			<xs:element name="ќтчество" type="“ип—трока40Ќ" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип”плачено—Ќачала–асчетногоѕериода">
		<xs:annotation>
			<xs:documentation>“ип данных ”плачено с начала расчетного периода</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="¬сего—начала–асчетногоѕериода2014" type="“ип–асчетѕоЌачисленным»”плаченным—2014"/>
			<xs:element name="ѕоследние“рићес€ца1с2014" type="“ип–асчетѕоЌачисленным»”плаченным—2014"/>
			<xs:element name="ѕоследние“рићес€ца2с2014" type="“ип–асчетѕоЌачисленным»”плаченным—2014"/>
			<xs:element name="ѕоследние“рићес€ца3с2014" type="“ип–асчетѕоЌачисленным»”плаченным—2014"/>
			<xs:element name="ѕоследние“рићес€ца»того2014" type="“ип–асчетѕоЌачисленным»”плаченным—2014"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип–асчетѕоЌачисленным»”плаченным—2014">
		<xs:annotation>
			<xs:documentation>“ип данных –асчет по начисленным и уплаченным с 2014</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="100"/>
						<xs:enumeration value="120"/>
						<xs:enumeration value="130"/>
						<xs:enumeration value="150"/>
						<xs:enumeration value="140"/>
						<xs:enumeration value="141"/>
						<xs:enumeration value="142"/>
						<xs:enumeration value="143"/>
						<xs:enumeration value="144"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="—траховые¬зносыќѕ—" type="ƒеньги" minOccurs="0"/>
			<xs:element name="ќѕ—страхова€„асть" type="ƒеньги" minOccurs="0"/>
			<xs:element name="ќѕ—накопительна€„асть" type="ƒеньги" minOccurs="0"/>
			<xs:element name="¬зносыѕоƒоп“арифу1" type="ƒеньги" minOccurs="0"/>
			<xs:element name="¬зносыѕоƒоп“арифу2_18" type="ƒеньги" minOccurs="0"/>
			<xs:element name="—траховые¬зносыќћ—" type="ƒеньги" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип–асчет—траховых¬зносовѕо“арифу2014">
		<xs:annotation>
			<xs:documentation>“ип данных –асчет —траховых ¬зносов ѕо “арифу с 2014</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од“арифа" type="“ип од“арифа"/>
			<xs:element name="Ќаќб€зательноеѕенсионное—трахование2014" type="“ипЌаќб€зательноеѕенсионное—трахование2014"/>
			<xs:element name="Ќаќб€зательноећедицинское—трахование" type="“ипЌаќб€зательноећедицинское—трахование"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипЌаќб€зательноеѕенсионное—трахование2014">
		<xs:annotation>
			<xs:documentation>“ип данных Ќа ќб€зательное ѕенсионное —трахование с 2014</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="—умма¬ыплат»вознагражденийќѕ—" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюќѕ—" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="—умма–асходовѕринимаемых вычетуќѕ—" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="ѕревышающиеѕредельную¬еличинуЅазыќѕ—" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌаќѕ—" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="ЌачисленоЌаќѕ—с—уммЌеѕревышающих" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="ЌачисленоЌаќѕ—с—уммѕревышающих" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name=" оличество‘Ћвсего" type="“ипѕоказатель„исленность" minOccurs="0"/>
			<xs:element name=" оличество‘Ћпо оторымЅазаѕревысилаѕредел" type="“ипѕоказатель„исленность" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипѕоказатель–асчет—умм">
		<xs:annotation>
			<xs:documentation>“ип данных ѕоказатель –асчета —умм</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="200"/>
						<xs:enumeration value="201"/>
						<xs:enumeration value="202"/>
						<xs:enumeration value="203"/>
						<xs:enumeration value="204"/>
						<xs:enumeration value="205"/>
						<xs:enumeration value="206"/>
						<xs:enumeration value="210"/>
						<xs:enumeration value="211"/>
						<xs:enumeration value="212"/>
						<xs:enumeration value="213"/>
						<xs:enumeration value="214"/>
						<xs:enumeration value="215"/>
						<xs:enumeration value="220"/>
						<xs:enumeration value="221"/>
						<xs:enumeration value="223"/>
						<xs:enumeration value="224"/>
						<xs:enumeration value="230"/>
						<xs:enumeration value="231"/>
						<xs:enumeration value="233"/>
						<xs:enumeration value="234"/>
						<xs:enumeration value="240"/>
						<xs:enumeration value="241"/>
						<xs:enumeration value="243"/>
						<xs:enumeration value="244"/>
						<xs:enumeration value="246"/>
						<xs:enumeration value="247"/>
						<xs:enumeration value="249"/>
						<xs:enumeration value="250"/>
						<xs:enumeration value="252"/>
						<xs:enumeration value="253"/>
						<xs:enumeration value="255"/>
						<xs:enumeration value="256"/>
						<xs:enumeration value="258"/>
						<xs:enumeration value="259"/>
						<xs:enumeration value="261"/>
						<xs:enumeration value="262"/>
						<xs:enumeration value="264"/>
						<xs:enumeration value="265"/>
						<xs:enumeration value="267"/>
						<xs:enumeration value="268"/>
						<xs:enumeration value="334"/>
						<xs:enumeration value="335"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="–асчет—умм" type="“ип–асчет—умм"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипѕоказатель„исленность">
		<xs:annotation>
			<xs:documentation>“ип данных ѕоказатель„исленности</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="207"/>
						<xs:enumeration value="208"/>
						<xs:enumeration value="225"/>
						<xs:enumeration value="235"/>
						<xs:enumeration value="245"/>
						<xs:enumeration value="251"/>
						<xs:enumeration value="257"/>
						<xs:enumeration value="263"/>
						<xs:enumeration value="269"/>
						<xs:enumeration value="321"/>
						<xs:enumeration value="322"/>
						<xs:enumeration value="331"/>
						<xs:enumeration value="332"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name=" оличество«Ћ_¬сего" type="“ип оличество6"/>
			<xs:element name=" оличество«Ћ_1мес€ц" type="“ип оличество6" minOccurs="0"/>
			<xs:element name=" оличество«Ћ_2мес€ц" type="“ип оличество6" minOccurs="0"/>
			<xs:element name=" оличество«Ћ_3мес€ц" type="“ип оличество6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип–асчет—умм">
		<xs:annotation>
			<xs:documentation>“ип данных –асчет —умм</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="—умма¬сего—начала–асчетногоѕериода" type="ƒеньги"/>
			<xs:element name="—уммаѕоследние1мес€ц" type="ƒеньги" minOccurs="0"/>
			<xs:element name="—уммаѕоследние2мес€ц" type="ƒеньги" minOccurs="0"/>
			<xs:element name="—уммаѕоследние3мес€ц" type="ƒеньги" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипЌаќб€зательноећедицинское—трахование">
		<xs:annotation>
			<xs:documentation>“ип данных Ќа ќб€зательное ћедицинское —трахование</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="—умма¬ыплат»вознаграждений" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложению" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="—умма–асходовѕринимаемых вычету" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="ѕревышающиеѕредельную¬еличинуЅазы" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌаќћ—" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="ЌачисленоЌаќћ—" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип–асчетЌачисленных—траховых¬зносовѕоƒополнительному“арифу—2014">
		<xs:annotation>
			<xs:documentation>“ип данных –асчет Ќачисленных —траховых ¬зносов ѕо ƒополнительному “арифу с 2014</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="—умма¬ыплат»вознагражденийѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќачисленоѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name=" оличество‘Ћпоƒоп“арифу" type="“ипѕоказатель„исленность" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип–асчетЌачисленных»”плаченных—траховых¬зносовѕоƒополнительному“арифу">
		<xs:annotation>
			<xs:documentation>“ип данных –асчет Ќачисленных » ”плаченных —траховых ¬зносов ѕо ƒополнительному “арифу</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="—умма¬ыплат»вознагражденийѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="—умма–асходовѕринимаемых вычетуѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќачисленоѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name="”плаченоѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name=" оличество‘Ћпоƒоп“арифу" type="“ипѕоказатель„исленность"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипќтчетныйѕериод">
		<xs:annotation>
			<xs:documentation>“ип данных ќтчетный период</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" вартал" type="“ип одќтчетногоѕериода"/>
			<xs:element name="√од">
				<xs:simpleType>
					<xs:restriction base="xs:gYear"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ќазвание" type="“ипЌазвание" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипќтчетныйѕериод ор">
		<xs:annotation>
			<xs:documentation>“ип данных ќтчетный период</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" вартал" type="“ип одќтчетногоѕериода ор"/>
			<xs:element name="√од">
				<xs:simpleType>
					<xs:restriction base="xs:gYear"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ќазвание" type="“ипЌазвание" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипѕоказатель”дельный¬ес">
		<xs:annotation>
			<xs:documentation>“ип данных ѕоказатель-”дельный¬ес</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="323"/>
						<xs:enumeration value="333"/>
						<xs:enumeration value="336"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="”дельный¬ес_¬сего" type="„исло"/>
			<xs:element name="”дельный¬ес_1мес€ц" type="„исло" minOccurs="0"/>
			<xs:element name="”дельный¬ес_2мес€ц" type="„исло" minOccurs="0"/>
			<xs:element name="”дельный¬ес_3мес€ц" type="„исло" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип—уммаƒоходовѕо»тогамѕериодов">
		<xs:annotation>
			<xs:documentation>“ип данных —умма ƒоходов ѕо »тогам ѕериодов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="341"/>
						<xs:enumeration value="342"/>
						<xs:enumeration value="371"/>
						<xs:enumeration value="372"/>
						<xs:enumeration value="373"/>
						<xs:enumeration value="374"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="—уммаƒоходаѕоѕредшествующему" type="ƒеньги"/>
			<xs:element name="—уммаƒоходаѕо“екущему" type="ƒеньги"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип„исленность–аботниковѕо»тогамѕериодов">
		<xs:annotation>
			<xs:documentation>“ип данных „исленность –аботников ѕо »тогам ѕериодов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="344"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name=" оличество«Ћпоѕредшествующему" type="“ип оличество6"/>
			<xs:element name=" оличество«Ћпо“екущему" type="“ип оличество6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипƒол€ƒоходовѕо»тогамѕериодов">
		<xs:annotation>
			<xs:documentation>“ип данных ƒол€ ƒоходов ѕо »тогам ѕериодов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="343"/>
						<xs:enumeration value="375"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ƒол€ƒоходаѕоѕредшествующему" type="„исло"/>
			<xs:element name="ƒол€ƒоходаѕо“екущему" type="„исло"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип—уммаƒохода—Ќачалаќтчетногоѕериода">
		<xs:annotation>
			<xs:documentation>“ип данных —умма ƒохода — Ќачала ќтчетного ѕериода</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="361"/>
						<xs:enumeration value="362"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="—уммаƒохода" type="ƒеньги"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипќрганизаци€">
		<xs:annotation>
			<xs:documentation>“ип данных ќрганизаци€</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="“ип—ведени€»з–еестра">
		<xs:annotation>
			<xs:documentation>“ип данных «апись ¬ –еестре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="345"/>
						<xs:enumeration value="351"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ƒата«аписи¬реестре" type="“ипƒата"/>
			<xs:element name="Ќомер«аписи¬реестре" type="“ипЌомер"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип–асчетѕоЌачисленным»уплаченным—2010-2013">
		<xs:annotation>
			<xs:documentation>“ип данных –асчет ѕо Ќачисленным » уплаченным — 2010-2013</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="—траховые¬зносыќѕ—" type="ƒеньги"/>
			<xs:element name="¬зносыѕоƒоп“арифу1" type="ƒеньги"/>
			<xs:element name="¬зносыѕоƒоп“арифу2_18" type="ƒеньги"/>
			<xs:element name="—траховые¬зносыќћ—" type="ƒеньги"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипЌачислено”плачено«аѕериоды2010-2013">
		<xs:annotation>
			<xs:documentation>“ип данных Ќачислено-”плачено «а ѕериоды 2010-2013</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="¬сего—начала–асчетногоѕериода2014" type="“ип–асчетѕоЌачисленным»уплаченным—2010-2013"/>
			<xs:element name="ѕоследние“рићес€ца1с2014" type="“ип–асчетѕоЌачисленным»уплаченным—2010-2013"/>
			<xs:element name="ѕоследние“рићес€ца2с2014" type="“ип–асчетѕоЌачисленным»уплаченным—2010-2013"/>
			<xs:element name="ѕоследние“рићес€ца3с2014" type="“ип–асчетѕоЌачисленным»уплаченным—2010-2013"/>
			<xs:element name="ѕоследние“рићес€ца»того2014" type="“ип–асчетѕоЌачисленным»уплаченным—2010-2013"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипƒоначислено—траховых¬зносов—начала–асчетногоѕериода—суммѕревышающихЅазу">
		<xs:annotation>
			<xs:documentation>“ип данных ƒоначислено страховых взносов с начала расчетного периода, в том числе с сумм, превышающих предельную базу</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="121"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="—траховые¬зносыќѕ—" type="ƒеньги" minOccurs="0"/>
			<xs:element name="ќѕ—страхова€„асть" type="ƒеньги" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип–асчетѕоЌачисленным—2014">
		<xs:annotation>
			<xs:documentation>“ип данных –асчет по начисленным  с 2014</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name=" од—троки">
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:enumeration value="110"/>
						<xs:enumeration value="111"/>
						<xs:enumeration value="112"/>
						<xs:enumeration value="113"/>
						<xs:enumeration value="114"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="—траховые¬зносыќѕ—" type="ƒеньги" minOccurs="0"/>
			<xs:element name="ќѕ—страхова€„асть" type="ƒеньги" minOccurs="0"/>
			<xs:element name="ќѕ—накопительна€„асть" type="ƒеньги" minOccurs="0"/>
			<xs:element name="¬зносыѕоƒоп“арифу1" type="ƒеньги" minOccurs="0"/>
			<xs:element name="¬зносыѕоƒоп“арифу2_18" type="ƒеньги" minOccurs="0"/>
			<xs:element name="—траховые¬зносыќћ—" type="ƒеньги" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ипЌачислено—траховых¬зносов—Ќачала–асчетногоѕериода">
		<xs:annotation>
			<xs:documentation>“ип данных Ќачислено страховых взносов с начала расчетного периода</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="¬сего—начала–асчетногоѕериода2014" type="“ип–асчетѕоЌачисленным—2014"/>
			<xs:element name="ѕоследние“рићес€ца1с2014" type="“ип–асчетѕоЌачисленным—2014"/>
			<xs:element name="ѕоследние“рићес€ца2с2014" type="“ип–асчетѕоЌачисленным—2014"/>
			<xs:element name="ѕоследние“рићес€ца3с2014" type="“ип–асчетѕоЌачисленным—2014"/>
			<xs:element name="ѕоследние“рићес€ца»того2014" type="“ип–асчетѕоЌачисленным—2014"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>ѕростые типы данных</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Ѕазовые типы</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="ƒеньги">
		<xs:annotation>
			<xs:documentation>“ип данных ƒеньги (15,2)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="((\+|-)?\d{1,15}(\.\d{0,2})?)|((\+|-)?\d{1,15})|((\+|-)?\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="„исло">
		<xs:annotation>
			<xs:documentation>“ип данных „исло(8,5)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="((\+|-)?\d{1,8}(\.\d{0,5})?)|((\+|-)?\d{1,8})|((\+|-)?\.\d{1,5})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="—трока÷ифр">
		<xs:annotation>
			<xs:documentation>“ип данных —трока из цифр</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ипƒата">
		<xs:annotation>
			<xs:documentation>“ип данных ƒата в формате dd.mm.yyyy (с контролем високосных лет и длины каждого мес€ца)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(((0[1-9]|[12]\d|3[01])\.(0[13578]|1[02])\.((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\.(0[13456789]|1[012])\.((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\.02\.((19|[2-9]\d)\d{2}))|(29\.02\.((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>ѕользовательские типы данных</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="“ип“ип—троки">
		<xs:annotation>
			<xs:documentation>“ип данных тип строки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:enumeration value="ћ≈—÷"/>
			<xs:enumeration value="»“ќ√"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип»м€‘айла">
		<xs:annotation>
			<xs:documentation>»м€ файла</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:pattern value="PFR-700-Y-\d{4}-ORG-\d{3}-\d{3}-\d{6}-DCK-\d{5}-DPT-\d{6}-DCK-\d{5}.XML"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип–егЌомер">
		<xs:annotation>
			<xs:documentation>“ип данных –егистрационный номер ѕлательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}-\d{3}-\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип—трока40">
		<xs:annotation>
			<xs:documentation>—трока до 40 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип—трока40Ќ">
		<xs:annotation>
			<xs:documentation>“ип данных —трока до 40 символов не об€зательна€</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип од“арифа">
		<xs:annotation>
			<xs:documentation>“ип данных  од “арифа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип одѕоќ ¬Ёƒ">
		<xs:annotation>
			<xs:documentation>“ип данных код ќ ¬Ёƒ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:pattern value="\d{2}\.\d{2}\.\d{2}|\d{2}\.\d{2}\.\d{1}|\d{2}\.\d{2}|\d{2}\.\d{1}|\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип од—троки">
		<xs:annotation>
			<xs:documentation>“ип данных  од —троки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="—трока÷ифр">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип оличество">
		<xs:annotation>
			<xs:documentation>“ип данных  ќличество</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип оличество6">
		<xs:annotation>
			<xs:documentation>“ип данных  ќличество 6</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ипЌазвание">
		<xs:annotation>
			<xs:documentation>“ип данных Ќазвание</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип одќтчетногоѕериода">
		<xs:annotation>
			<xs:documentation>“ип данных  од отчетного периода</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:totalDigits value="1"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип одќтчетногоѕериода ор">
		<xs:annotation>
			<xs:documentation>“ип данных  од отчетного периода корректировка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ипЌаименованиеќрганизации">
		<xs:annotation>
			<xs:documentation>“ип данных Ќаименование ќрганизации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ипЌомер">
		<xs:annotation>
			<xs:documentation>“ип данных Ќомер</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
